<!DOCTYPE html>
<html>
    <head>
        <title>portofolio</title>
        <link rel="stylesheet" href="style.css">
        <script src="home.js" defer></script>
    </head>
    <body>
        <div class="landing">
            <div class="left">
                <div class="left-1">
                    Irakoze Kelly<span class="dot">.</span>
                </div>
                <div class="left-body">
                    <div class="left-2">
                        I'm Irakoze K.
                    </div>
                    <div class="left-3">
                        WEB DESIGNER / UI DESIGNER / GRAPHIC DESIGNER
                    </div>
                    <div class='left-4'> 
                        Lorem ipsum dolor sit amet consectetur.
                        Risus aliquam semper tortor sed augue ut sapien eget.
                        Donec viverra tempus eget fames amet quam malesuada.
                    </div>
                    <div>
                        <button class="button-1">explore my work</button>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-1"><span class="about">About</span></div>
                    <div class="right-2">Blog</div>
                    <div class="right-3">Portofolio</div>
                    <div class="right-4">skills</div>
                    <div class="right-5"><a class="link" href="/">Logout</a></div>
                    <div class="right-6">Contact</div>
                </div>
                <img class="image-1" src="image/short profile-modified.jpeg">
                
                    
                   
            </div>
        </div>

        <div class line-cont>
            <hr class="line3">
        </div>
        
        
        
        <!-- <hr class="line"> -->
        
        
        <div class="work-page">
            <div class="work-1">
                <div class="title-work">Blog</div>
                <div class="body-work">Lorem ipsum dolor sit amet consectetur.
                    Risus aliquam semper tortor sed augue ut sapien eget. 
                    Donec viverra tempus eget fames amet quam malesuada.
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            <div class="work-container">
                <div class="work-2">
                    <div><img class="image2" src="image/youreal.png"></div>
                    <div class="work-2-2">
                        <div class='work-2-2-1'>
                            Hardware Developing
                        </div>
                        <div class='work-2-2-2'>
                            <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue 
                                Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue</div>
                            <div class="work-text">
                                <div class="like" id="like">
                                    <div onclick="postlike()" class="like-image" id="like">
                                        <img class="like-im" src="/image/like2.png">
                                    </div>
                                    <div class="like-number">0</div>
                                </div>
                                <div class="comment" id="show-form">
                                    <div onclick="display()" class="comment-image" id="show-form">
                                        <img class="comment-im" src="image/comment6.png">
                                    </div>
                                    <div class="comment-number">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="work-3">
                    <div><img class="image2" src="image/youreal.png"></div>
                    <div class='work-3-2'>
                        <div class='work-3-2-1'>
                            Network-techinisians
                        </div>
                        <div class='work-3-2-2'>
                            <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augueLorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue 
                                Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue </div>
                            <div class="work-text">
                                <div class="like" id="like">
                                    <div onclick="postlike()" class="like-image" id="like">
                                        <img class="like-im" src="/image/like2.png">
                                    </div>
                                    <div class="like-number">0</div>
                                </div>
                                <div class="comment" id="show-form">
                                    <div onclick="display()" class="comment-image">
                                        <img class="comment-im" src="image/comment6.png">
                                    </div>
                                    <div class="comment-number" id="comment">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-container">
                <div class="work-2">
                    <div><img class="image2" src="image/youreal.png"></div>
                    <div class="work-2-2">
                        <div class='work-2-2-1'>
                            code debbuging
                        </div>
                        <div class='work-2-2-2'>
                            <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue 
                                Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue</div>
                            <div class="work-text">
                                <div class="like" id="like">
                                    <div onclick="postlike()" class="like-image" id="like">
                                        <img class="like-im" src="/image/like2.png">
                                    </div>
                                    <div class="like-number">0</div>
                                </div>
                                <div class="comment" id="show-form">
                                    <div onclick="display()" class="comment-image" id="show-form">
                                        <img class="comment-im" src="image/comment6.png">
                                    </div>
                                    <div class="comment-number">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="work-3">
                    <div><img class="image2" src="image/youreal.png"></div>
                    <div class="work-3-2">
                        <div class='work-3-2-1'>
                            programming
                        </div>
                        <div class='work-3-2-2'>
                            <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue 
                                Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue  </div>
                            <div class="work-text">
                                <div class="like" id="like">
                                    <div onclick="postlike()" class="like-image" id="like">
                                        <img class="like-im" src="/image/like2.png">
                                    </div>
                                    <div class="like-number">0</div>
                                </div>
                                <div  class="comment" id="show-form">
                                    <div onclick="display()" class="comment-image" id="show-form">
                                        <img class="comment-im" src="image/comment6.png">
                                    </div>
                                    <div class="comment-number">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-container">
                <div class="work-2">
                    <div><img class="image2" src="image/youreal.png"></div>
                    <div class="work-2-2">
                        <div class='work-2-2-1'>
                            kernel development
                        </div>
                        <div class='work-2-2-2'>
                            <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue 
                                Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue</div>
                            <div class="work-text">
                                <div class="like" id="like">
                                    <div onclick="postlike()" class="like-image" id="like">
                                        <img class="like-im" src="/image/like2.png">
                                    </div>
                                    <div class="like-number">0</div>
                                </div>
                                <div class="comment" id="show-form">
                                    <div onclick="display()" class="comment-image" id="show-form">
                                        <img class="comment-im" src="image/comment6.png">
                                    </div>
                                    <div class="comment-number">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-2">
                    <div><img class="image2" src="image/youreal.png"></div>
                    <div class="work-2-2">
                        <div class='work-2-2-1'>
                            network technisian
                        </div>
                        <div class='work-2-2-2'>
                            <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue 
                                Lorem ipsum dolor sit amet consectetur.
                                Risus aliquam semper tortor sed augue</div>
                            <div class="work-text">
                                <div class="like" id="like">
                                    <div onclick="postlike()" class="like-image" id="like">
                                        <img class="like-im" src="/image/like2.png">
                                    </div>
                                    <div class="like-number">0</div>
                                </div>
                                <div class="comment" id="show-form">
                                    <div onclick="display()" class="comment-image" id="show-form">
                                        <img class="comment-im" src="image/comment6.png">
                                    </div>
                                    <div class="comment-number">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
            <%- include('include/_viewblog') %>
            <form action="/post/comment" method="POST" id="blogEditor">
                <div id="head"><span id="close-btn">&times</span></div>
                <label for="name">name</label>
                <input type="text"  name="name" id="title" placeholder="Name">
                <label for="email" placeholder="Email">Email</label>
                <input type="text" id="sub-title" name="email" placeholder="Email">
                <label for="content" placeholder="Content">Content</label>
                <textarea name="content" id="Content" placeholder="Content"></textarea>
                <button  type="submit">send</button>
            </form>
            <hr class="line">
        </div>

        
        <!-- <hr class="line"> -->


        <div class="Portfoliopage">
            <div class="porttitle">Portofolio</div>
            <div class="portbody">Lorem ipsum dolor 
                sit amet consectetur.
                Risus aliquam semper tortor sed 
                augue ut sapien eget. Donec viverra 
                tempus eget fames amet quam malesuada.
            </div>
            <div class="portcontent">
                <div class="box-1">
                    <img class="port-image" src="image/work-10.avif">
                </div>

                <div class="box-2">
                    <img class="port-image" src="image/work-2.avif">
                </div>
                
                <div class="box-2">
                    <img class="port-image" src="image/work-13.avif">
                </div>

                <div class="box-3">
                    <img class="port-image" src="image/work-3.avif">
                </div>
                
                
                
            </div>
            <div class="portcontent">
                <div class="box-1">
                    <img class="port-image" src="image/work-4.avif">
                </div>
                <div class="box-2">
                    <img class="port-image" src="image/work-5.avif">
                </div>
                <div class="box-2">
                    <img class="port-image" src="image/work-18.avif">
                </div>
                <div class="box-3">
                    <img class="port-image" src="image/work-6.avif">
                </div>
            </div>
            <hr class="line">
        </div>
        

        
        <!-- <hr class="line"> -->


        <div class="Portfoliopage">
            <div class="porttitle" id="id1">Skills</div>
            <div class="portbody">Lorem ipsum dolor 
                sit amet consectetur.
                Risus aliquam semper tortor sed 
                augue ut sapien eget. Donec viverra 
                tempus eget fames amet quam malesuada.
            </div>
            <div class="portcontent">
                <div class="box-1">
                    <img class="port-image" src="image/work-11.avif">
                </div>
                
                <div class="box-2">
                    <img class="port-image" src="image/work-12.avif">
                </div>

                <div class="box-2">
                    <img class="port-image" src="image/work-2.avif">
                </div>
                
                <div class="box-3">
                    <img class="port-image" src="image/work-13.avif">
                </div>
            </div>
            <div class="portcontent">
                <div class="box-1">
                    <img class="port-image" src="image/work-14.avif">
                </div>
                
                <div class="box-2">
                    <img class="port-image" src="image/work-15.avif">
                </div>
                
                <div class="box-2">
                    <img class="port-image" src="image/work-5.avif">
                </div>

                <div class="box-3">
                    <img class="port-image" src="image/work-18.avif">
                </div>
            </div>
            <hr class="line">
        </div>

        
        <!-- <hr class="line">


        <div class="signup-page">
            <div class="signtitle">Get on board</div>
            <div class="authentication">
                <a class="link" href="./signup.html"><h4 class="signvar">Name</h4></a>
                <a class="link" href="./signup.html"><hr class="line2"></a>
                <a class="link" href="./signup.html"><h4 class="signvar">E-mail</h4></a>
                <a class="link" href="./signup.html"><hr class="line2"></a>
                <a class="link" href="./signup.html"><h4 class="signvar">Enter-password</h4></a>
                <a class="link" href="./signup.html"><hr class="line2"></a>
                <a class="link" href="./signup.html"><h4 class="signvar">confirm-password</h4></a>
                <a class="link" href="./signup.html"><hr class="line2"></a>
            </div>
            <a class="link" href="./signup.html"><button class="button-2">Sign up</button></a>
            <hr class="line">
        </div> -->


        

        
        <div class="contact">
            <div class="contact-title">Get in touch</div>
            <div class="contact-body">Lorem ipsum dolor sit amet consectetur.
                Risus aliquam semper tortor 
                sed augue ut sapien eget. 
                Donec viverra tempus eget fames amet quam malesuada.
            </div>
            <form action="/post/message" method="POST">
            <div class="">
                <input type="text" name="name" id="name" class="contact-box1" placeholder="Name" required>
                <span class="name error-message"></span>
            </div>
            <div class="">
                <input type="email" name="email"id="email" class="contact-box2" placeholder="Enter your email" required>
                <span class="email error-message"></span>
            </div>
            <div class="">
                <textarea name="content" class="contact-box3" id="message" cols="30" placeholder="Your Message" rows="10"></textarea>
                <span class="text-area error-message"></span>
            </div>
            <!-- <div class="button-3" type="Submit">
                <h4 class="submit-data">SUBMIT</h4>
            </div> -->
            <button  type="submit">SUBMIT</button>
            </form>
        </div>
    


        <!-- <hr class="line"> -->


        <!-- <div class="Login-page">
            <div class="logintitle">Sign In</div>
            <div class="authentication">
                <a class="link" href="./login.html"><h4 class="signvar" >Name</h4></a>
                <a class="link" href="./login.html"><hr class="line2"></a>
                <a class="link" href="./login.html"><h4 class="signvar" >Enter-password</h4></a>
                <a class="link" href="./login.html"><hr class="line2"></a>
            </div>
            <div class="logindiv">
                <a class="link" href="./login.html"><div class="stay">Stay logged</div></a>
                <a class="link" href="./login.html"><div class="signvar">forgot password</div></a>
            </div>
            <a class="link" href="./login.html"><button class="button-3">Login</button></a>
        </div> -->

    </div>
    <div class="footer">
        <div class="footer-left">
            <div class="footer-left-content">2023 ALL RIGHTS RESERVED DESIGNED BY <span class="name">NTAWIGENGA KELLY</span></div>
        </div>
        <div class="footer-right">
            <div class="foot-1">Github</div>
            <div class="foot-2">Dribble</div>
            <div class="foot-3">Linkedin</div>
            <div class="foot-4">Twitter</div>
        </div>
    </div>
        

    <script>
        

        document.querySelector("#close-btn").addEventListener("click", () => {
        document.querySelector("form").style.display = "none";
        });

        document.querySelector("#show-form").addEventListener("click", () => {
        document.querySelector("form").style.display = "block";
        });
        function display()
        {
        document.querySelector("form").style.display = "block";
        }
        function postlike() 
        { try{
            const res =  fetch(`http://localhost:${PORT}/post/like`, { 
            method: 'POST', 
            body: JSON.stringify({ email : 'how' }),
            headers: {'Content-Type': 'application/json'}
        });}
        catch (err) {
        console.log(err);
        }
        }

    </script>



    </body>
</html>