@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,400;1,500;1,600&display=swap");
:root {
  --dark1: #21201e;
  --dark2: #2d2b29;
  --brand: #ed9902;
  --white: #ffffff;
  --body: #9b968b;
}
body {
  background-color: var(--dark1);
  padding: 65px;
}
.left-1,
.left-2,
.left-3 {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
}
.right-1,
.right-2,
.right-3,
.right-4,
.right-5,
.right-6,
.title-work,
.porttitle,
.signtitle,
.contact-title,
.logintitle {
  font-family: "Rubik";
  font-style: italic;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 400px;
}
.right-1 {
  color: var(--brand);
}
.right-2,
.right-3,
.right-4,
.right-5,
.right-6 {
  color: white;
  margin-left: -100px;
}
.link {
  color: var(--brand);
}
.porttitle {
  color: #ffffff;
}
.right-bottom {
  flex: 3;
  /* height: 800px; */
  /* width: 480px; */
}
.right-bottom {
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 0px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  object-fit: cover;
}
.image-1 {
  margin-bottom: 60px;
  margin-left: 40px;
  object-fit: cover;
  height: 20px;
  width: 75%;
  border: 5px, solid, yellow;
  border-radius: 100%;
  border-color: yellow;
  border-width: 50px;
  border: 5px, solid, yellow;
  height: 100%;
}

.landing {
  width: 100%;
  padding-top: 15px;
  background-color: var(--dark1);
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  height: 100%;
}
.dot,
about {
  color: var(--brand);
}
.left {
  flex: 60px;
  display: flex;
  width: 20000px;
  background-color: var(--dark1);
  flex-direction: column;
  color: white;
}
.left-1 {
  margin-bottom: 100px;
  color: white;
}
.left-2 {
  margin-bottom: 10px;
  color: white;
}
.left-3 {
  margin-bottom: 10px;
  color: white;
}
.left-4 {
  width: 350px;
  color: var(--body);
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500px;
  letter-spacing: normal;
  text-transform: none;
  width: 400px;
  color: var(--body);
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
}
.button-1 {
  display: flex;
  justify-content: center;
  background-color: var(--brand);
  width: 150px;
  color: var(--dark2);
  border-color: transparent;
  border-radius: 8px;
}

.right {
  background-color: transparent;
  border-color: transparent;
  border: 4px;
  padding-right: 2%;
}
.right-bottom {
  height: 100%;
  width: 100%;
}
.right-top {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 15px;
}
.line {
  margin-top: 75px;
  background-color: var(--brand);
  border-color: #ed9902;
  width: 100%;
}
.line3 {
  width: 100%;
  margin-top: 80px;
  background-color: var(--brand);
  border-color: #ed9902;
}
.work-page {
  margin-top: 100px;
  width: 100%;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.work-1 {
  background-color: var(--dark1);
}
.title-work {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
  padding-top: 15px;
  margin-bottom: 15px;
  color: var(--white);
}
.body-work {
  width: 400px;
  color: var(--body);
  margin-bottom: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
}
.work-text {
  color: var(--body);
  width: 400px;
  color: var(--body);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
}
.like {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.like-image {
  height: 20px;
  width: 20px;
}
.like-im {
  height: 100%;
  width: 100%;
}
.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.comment-image {
  height: 20px;
  width: 20px;
}
.comment-im {
  height: 100%;
  width: 100%;
}
.comment-number,
.like-number {
  margin-left: 10px;
}
.work-2,
.work-3,
.work-4 {
  display: flex;
  flex-direction: row;
  background-color: var(--dark1);
  justify-content: space-between;
}
.work-2-2,
.work-3-2,
.work-4-2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.work-2-2-1,
.work-3-2-1 {
  color: var(--body);
  margin-bottom: 10px;
  width: 400px;
  color: var(--body);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
}
.work-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}
.image2 {
  height: 30px;
  border-radius: 8px;
}
.Portfoliopage {
  width: 100%;
  height: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark1);
  justify-content: space-between;
}
.porttitle {
  padding-top: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
  padding-top: 15px;
  margin-bottom: 15px;
  color: var(--white);
}
.porttitle,
.portbody,
.portcontent {
  background-color: var(--dark1);
}
.porttitle {
  margin-top: 100px;
  margin-bottom: 15px;
}
.portbody {
  color: var(--body);
  width: 400px;
  color: var(--body);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
  width: 350px;
  margin-bottom: 15px;
}
.port-image {
  height: 100%;
  width: 100%;
}

.portcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box-1,
.box-2,
.box-3 {
  height: 150px;
  width: 350px;
  background-color: var(--dark2);
  border-radius: 8px;
}
.box-2,
.box-3 {
  margin-left: 20px;
}
.body {
  background-color: var(--dark1);
}
.line2 {
  width: 100%;
  margin-left: 0px;
  background-color: yellow;
  height: 1px;
}
.button-2 {
  display: flex;
  justify-content: center;
  background-color: var(--brand);
  width: 200px;
  color: var(--dark2);
  border-color: transparent;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 200px;
  width: 400px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
}
.contact {
  width: 100%;
  height: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark1);
  justify-content: space-around;
}
.contact-title {
  margin-top: 100px;
  margin-bottom: 32px;
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
  color: var(--white);
}
.contact-body {
  color: var(--body);

  width: 400px;
  color: var(--body);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500px;
}
.contact-box1,
.contact-box2 {
  height: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #c9c3be;
  border-radius: 8px;
  width: 500px;
  color: var(--body);

  width: 400px;
  color: var(--body);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
}
.contact-box3 {
  height: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #c9c3be;
  border-radius: 8px;
  width: 500px;
  color: var(--body);

  width: 400px;
  color: var(--body);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
}

.Login-page {
  width: 85%;
  padding-left: 150px;
  padding-right: 150px;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
  justify-content: space-around;
  height: 400px;
  margin-top: 50px;
}
.logintitle {
  margin-top: 15px;
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
  padding-top: 15px;
  margin-bottom: 15px;
  color: var(--white);
}
.line2 {
  width: 100%;
  margin-left: 0px;
  opacity: 15%;
  color: var(--brand);
}
.button-3 {
  background-color: var(--brand);
  padding-top: 0.01px;
  padding-bottom: 0.01px;
  width: 80px;
  /* padding-right: 1px;
  padding-left: 1px; */
  color: var(--dark2);
  border-color: transparent;
  border-radius: 8px;
}
.logindiv {
  width: 1000px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15px;
}
.stay {
  color: var(--brand);
}
.footer {
  flex: 1;
  display: flex;
  flex-direction: row;

  width: 100%;

  margin-top: 70px;
}
.footer-left-content {
  /* font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
  color: white;
  font-weight: lighter;
  font-size: small; */
  color: white;
  flex: 1;
  font-weight: lighter;
  font-size: small;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
}
.name {
  color: #ed9902;
  margin-left: 5px;
}
.footer-left {
  flex: 3;
  width: 40px;
}
.footer-right {
  color: white;
  flex: 1;
  font-weight: lighter;
  font-size: small;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-weight: 700;
}
.foot-1,
.foot-2,
.foot-3,
.foot-4 {
  margin-left: 20px;
}
#blogEditor {
  position: absolute;
  inset: 0;
  color: transparent;
  z-index: 2000;
  /* padding-top: 3em; */
  background-color: transparent

  display: grid;
  max-width: 50px;
  padding: 2em;
  margin-inline: auto;
  margin-top: 1500px;
}

#head {
  max-width: 100px;
  background-color: white
}

#close-btn {
  background-color: #ffffff;
}

/* form header span {
  background-color: rgb(255, 255, 255);
  float: left;
  max-width: 10px;
  font-size: 2em;
  cursor: pointer;
  padding: 1em;
} */

section {
  background-color: black;
}

/* /* @media (max-width: 1240px) {
  .landing{
    width: calc(100% - 60px);
    left: 60px;
  }
  .landing{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .left{
    width: 100%;
}
.right{
    width:100%;
}
}
@media (max-width: 700px) {
  .landing{
    height: 50px;
    min-width: 40px;
  }
  .left{
    width: 100%;
}
.right{
    width:100%;
}
}
/* @media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
} */
/* @media (max-width: 400px) {
  .landing{
    margin-left: 150px;
    width: 100%;
    left: 0;
    background-color: #ED9902;
  }
}
  /* .landing{
    left: 60px;
    width: calc(100% - 60px);
  }
  .left{
    width: 100%;
}
.right{
    width:100%;
}
} */

/* @media (max-width: 1240px) {
    .landing{
      width: calc(100% - 60px);
      left: 60px;
    }
    .landing{
      left: 220px;
      width: calc(100% - 220px); */
/* overflow: hidden; */
/* }
    .left{
        width: 100%;
    }
    .right{
        width:100%;
    }
  }
  @media (max-width: 700px) {
    .landing{
      width: 100%;
    }
    .left{
        width: 100%;
    }
    .right{
        width:100%;
    }
  } */
/* @media (max-width: 550px) {
    .overview-boxes .box{
      width: 100%;
      margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav{
      display: none;
    }
  } */
/* @media (max-width: 400px) {
    .landing{
        margin-left: 150px;
      width: 100%;
      left: 0;
      background-color: #ED9902;
    }
    .left{
        width: 100%;
    }
    .right{
        width:100%;
    }
} */
